.rmsc { 
  --rmsc-primary: #4285f4;
  --rmsc-hover: #f1f3f5;
  --rmsc-selected: #e2e6ea;
  --rmsc-border: #ccc;
  --rmsc-gray: #aaa;
  --rmsc-background: #fff;
  --rmsc-spacing: 4px;
  --rmsc-radius: 8px;
  --rmsc-h: 40px;
  --rmsc-p: 10px;
}

.multi-select {
  margin: auto;

}

.rmsc .dropdown-heading {
  justify-items:end;
}

.dropdown-container {
  width: 12rem
}

svg {
  vertical-align: bottom
}